### 第二章 Pandas索引

In [1]:
import numpy as np
import pandas as pd
df = pd.read_csv('data/table.csv',index_col='ID')
df.head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
1104    S_1   C_1      F  street_2     167      81  80.4      B-
1105    S_1   C_1      F  street_4     159      64  84.8      B+

#### 一、单级索引

##### loc用法

In [25]:
###单行索引###
#输入行名或者多行
df.loc[1102]
print(df.loc[[1102,1103]])
#如果一定行区域，为左右都闭合区间
print(df.loc[1304:2105])
print(df.loc[2402::-1].head())

###单列索引###
df.loc[:,'Height'].head()    #用df['Height'].head()有同样效果
df.loc[:,['Height','Weight']].head()
df.loc[:,'Height':'Physics'].head()

###联合索引###
df.loc[1102:2401:3,'Height':'Math'].head()

###函数式索引###
df.loc[lambda x:x['Gender']=='M'].head()
#df也可导入函数来索引
def f(x):
    return [1101,1103]
df.loc[f]

###布尔索引###
#布尔索引用df[]和df.loc[]效果一样？？
df[df['Address'].isin(['street_7','street_4'])]
df.loc[df['Address'].isin(['street_7','street_4'])]
df.loc[[True if i[-1] == '4' or i[-1] == '7' else False for i in df['Address'].values]]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
     School Class Gender   Address  Height  Weight  Math Physics
ID
1304    S_1   C_3      M  street_2     195      70  85.2       A
1305    S_1   C_3      F  street_5     187      69  61.7      B-
2101    S_2   C_1      M  street_7     174      84  83.3       C
2102    S_2   C_1      F  street_6     161      61  50.6      B+
2103    S_2   C_1      M  street_4     157      61  52.5      B-
2104    S_2   C_1      F  street_5     159      97  72.2      B+
2105    S_2   C_1      M  street_4     170      81  34.2       A
     School Class Gender   Address  Height  Weight  Math Physics
ID
2402    S_2   C_4      M  street_7     166      82  48.7       B
2401    S_2   C_4      F  street_2     192      62  45.3       A
2305    S_2   C_3      M  street_4     187      73  48.9       B
2304    S_2   C_3      F  street_6     164      81  95.5      A-
2303    S_2   C_3      F  street_7     190      99  65.9       C

     School Class Gender   Address  Height  Weight  Math Physics
ID
1105    S_1   C_1      F  street_4     159      64  84.8      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1301    S_1   C_3      M  street_4     161      68  31.5      B+
1303    S_1   C_3      M  street_7     188      82  49.7       B
2101    S_2   C_1      M  street_7     174      84  83.3       C
2103    S_2   C_1      M  street_4     157      61  52.5      B-
2105    S_2   C_1      M  street_4     170      81  34.2       A
2202    S_2   C_2      F  street_7     194      77  68.5      B+
2203    S_2   C_2      M  street_4     155      91  73.8      A+
2205    S_2   C_2      F  street_7     183      76  85.4       B
2301    S_2   C_3      F  street_4     157      78  72.3      B+
2303    S_2   C_3      F  street_7     190      99  65.9       C
2305    S_2   C_3      M  street_4     187      73  48.9       B
2402    S_2   C_4      M  street_7     166      82  48.7       B

##### iloc用法     (注意与loc不同，切片右端点不包含）

In [38]:
###行索引###
df.iloc[3]
df.iloc[3:5]
###列索引###
df.iloc[:,3].head()
df.iloc[:,3:5].head()
df.iloc[:,7::-2].head()
###函数式索引###
df.iloc[lambda x:[3]]
#iloc中接收的参数只能为整数或整数列表或布尔列表，不能使用布尔Series，如果要用就必须如下把values拿出来
#df.iloc[df['Address'].isin(['street_7','street_4'])]  #报错“NotImplementedError: iLocation based boolean indexing on an integer type is not available”

     School Class Gender   Address  Height  Weight  Math Physics
ID
1104    S_1   C_1      F  street_2     167      81  80.4      B-

##### []用法

In [48]:
s = pd.Series(df['Math'],index=df.index)
print(s.head())
s[1101]
#多行索引
s[0:4]
print(s[lambda x:x.index[16::-6]])
#布尔索引
print(s[s>80])

#如果不想陷入困境，请不要在行索引为浮点时使用[]操作符，因为在Series中[]的浮点切片并不是进行位置比较，而是值比较，非常特殊
s_int = pd.Series([1,2,3,4],index=[1,3,5,6])
s_float = pd.Series([1,2,3,4],index=[1.,3.,5.,6.])
print(s_int)
print(s_int[2:])
print(s_float)
print(s_float[2:])

ID
1101    34.0
1102    32.5
1103    87.2
1104    80.4
1105    84.8
Name: Math, dtype: float64
ID
2102    50.6
1301    31.5
1105    84.8
Name: Math, dtype: float64
ID
1103    87.2
1104    80.4
1105    84.8
1201    97.0
1302    87.7
1304    85.2
2101    83.3
2205    85.4
2304    95.5
Name: Math, dtype: float64
1    1
3    2
5    3
6    4
dtype: int64
5    3
6    4
dtype: int64
1.0    1
3.0    2
5.0    3
6.0    4
dtype: int64
3.0    2
5.0    3
6.0    4
dtype: int64

In [60]:
print(df[1:3])
print(df.iloc[1:3])
row = df.index.get_loc(1102)
print(df[row:row+1])

     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1103    S_1   C_1      M  street_2     186      82  87.2      B+
     School Class Gender   Address  Height  Weight  Math Physics
ID
1102    S_1   C_1      F  street_2     192      73  32.5      B+

In [61]:
df['School'].head()
df[['School','Math']].head()
df[lambda x:['Math','Physics']].head()
df[df['Gender']=='F'].head()
#一般来说，[]操作符常用于列选择或布尔选择，尽量避免行的选择

ID
1101    S_1
1102    S_1
1103    S_1
1104    S_1
1105    S_1
Name: School, dtype: object

##### 布尔索引

In [71]:
df[(df['Gender'] == 'F')&(df['Address'] == 'street_2')].head()
df[(df['Math']>85)|(df['Address']=='street_7')].head()
# ~表示取反
df[~(df['Math']>75)|(df['Address']=='street_1')].head()

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
1102    S_1   C_1      F  street_2     192      73  32.5      B+
1202    S_1   C_2      F  street_4     176      94  63.5      B-
1203    S_1   C_2      M  street_6     160      53  58.8      A+
1204    S_1   C_2      F  street_5     162      63  33.8       B

In [77]:
df.loc[df['Math']>60,df.columns=='Physics'].head()
df[:8]['Address'].values

array(['street_1', 'street_2', 'street_2', 'street_2', 'street_4',
       'street_5', 'street_4', 'street_6'], dtype=object)

In [82]:
###isin方法###
df[df['Address'].isin(['street_1','street_4'])&df['Physics'].isin(['A','A+'])]
#df[df['Address'].isin(['street_1','street_4'])&df['Physics'].isin(['A','A+'])]

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2203    S_2   C_2      M  street_4     155      91  73.8      A+

In [84]:
df[df[['Address','Physics']].isin({'Address':['street_1','street_4'],'Physics':['A','A+']}).all(1)]
#在isin().all(1)表示all与&的思路是类似的，其中的1代表按照跨列方向判断是否全为True

     School Class Gender   Address  Height  Weight  Math Physics
ID
1101    S_1   C_1      M  street_1     173      63  34.0      A+
2105    S_2   C_1      M  street_4     170      81  34.2       A
2203    S_2   C_2      M  street_4     155      91  73.8      A+

##### 快速标量索引

In [86]:
#当只需要取一个元素时，at和iat方法能够提供更快的实现：
df.at[1101,'School']
df.loc[1101,'School']
df.iat[0,0]
df.iloc[0,0]

'S_1'

##### 区间索引

In [87]:
pd.interval_range(start=0,end=5)

IntervalIndex([(0, 1], (1, 2], (2, 3], (3, 4], (4, 5]],
              closed='right',
              dtype='interval[int64]')

In [88]:
pd.interval_range(start=0,freq=5,periods=8)

IntervalIndex([(0, 5], (5, 10], (10, 15], (15, 20], (20, 25], (25, 30], (30, 35], (35, 40]],
              closed='right',
              dtype='interval[int64]')

In [90]:
#cut用法
math_interval = pd.cut(df['Math'],bins=[0,40,60,80,100])
math_interval.head()

ID
1101      (0, 40]
1102      (0, 40]
1103    (80, 100]
1104    (80, 100]
1105    (80, 100]
Name: Math, dtype: category
Categories (4, interval[int64]): [(0, 40] < (40, 60] < (60, 80] < (80, 100]]

In [104]:
#区间索引选取
df_i = df.join(math_interval,rsuffix='_interval')[['Math','Math_interval']].reset_index()\
.set_index('Math_interval')

In [105]:
df_i.loc[65]

                 ID  Math
Math_interval
(60, 80]       1202  63.5
(60, 80]       1205  68.4
(60, 80]       1305  61.7
(60, 80]       2104  72.2
(60, 80]       2202  68.5
(60, 80]       2203  73.8
(60, 80]       2301  72.3
(60, 80]       2303  65.9
(60, 80]       2404  67.7

In [108]:
df_i.loc[[65,90]].head()

                 ID  Math
Math_interval
(60, 80]       1202  63.5
(60, 80]       1205  68.4
(60, 80]       1305  61.7
(60, 80]       2104  72.2
(60, 80]       2202  68.5

In [112]:
pd.Interval(70,75)
#df_i.loc[pd.Interval(70,75)].head() 报错
df_i[df_i.index.astype('interval').overlaps(pd.Interval(70, 85))].head()
#只要索引与(70,85]这个区间有交集就会被选中，注意pd.Interval默认构造区间都是左开右闭，可选closed参数right,left,both,neither

pandas.core.indexes.category.CategoricalIndex

### 多级索引