In [2]:
import pandas as pd
import numpy as np 
pd.__version__   #查看pandas版本

'0.25.0'

### 一、文件读取与写入

#### 1. 读取  2. 写入

In [11]:
df = pd.read_table('data/table.csv',sep=',') 
# sep  delimiter 区别？？delimiter是sep alias, if delimiter is None: delimiter = sep
print(df.head())
df.shape

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

(35, 9)

In [10]:
df = pd.read_table('data/table.txt')
df.shape
print(df)

   col1 col2  col3    col4
0     2    a   1.4   apple
1     3    b   3.4  banana
2     6    c   2.5  orange
3     5    d   3.2   lemon

In [13]:
df_excel = pd.read_excel('data/table.xlsx')
df_excel.head()
df_excel.shape

(35, 9)

In [ ]:
df.to_csv('data/new_table.csv')
#需要安装openpyxl
df.to_excel('data/new_sheet.xlsx', sheet_name = 'Sheet1')

### 二、基本数据结构

In [14]:
#Series
s = pd.Series(np.random.randn(5), index = ['a','b','c','d','e'], 
              name = 'this is a series',dtype = 'float64')
s

a    1.207414
b    0.560529
c   -1.069969
d   -0.262663
e    0.309289
Name: this is a series, dtype: float64

In [17]:
s.values
s.name
s.index

Index(['a', 'b', 'c', 'd', 'e'], dtype='object')

In [20]:
print(s['a'])
print(type(s['a']))

1.2074136564414708
<class 'numpy.float64'>

In [22]:
#dir(s)是指？？
print([attr for attr in dir(s) if not attr.startswith('_')])

['T', 'a', 'abs', 'add', 'add_prefix', 'add_suffix', 'agg', 'aggregate', 'align', 'all', 'any', 'append', 'apply', 'argmax', 'argmin', 'argsort', 'array', 'as_matrix', 'asfreq', 'asof', 'astype', 'at', 'at_time', 'autocorr', 'axes', 'b', 'base', 'between', 'between_time', 'bfill', 'bool', 'c', 'clip', 'clip_lower', 'clip_upper', 'combine', 'combine_first', 'compound', 'compress', 'copy', 'corr', 'count', 'cov', 'cummax', 'cummin', 'cumprod', 'cumsum', 'd', 'data', 'describe', 'diff', 'div', 'divide', 'divmod', 'dot', 'drop', 'drop_duplicates', 'droplevel', 'dropna', 'dtype', 'dtypes', 'duplicated', 'e', 'empty', 'eq', 'equals', 'ewm', 'expanding', 'explode', 'factorize', 'ffill', 'fillna', 'filter', 'first', 'first_valid_index', 'flags', 'floordiv', 'from_array', 'ftype', 'ftypes', 'ge', 'get', 'get_dtype_counts', 'get_ftype_counts', 'get_values', 'groupby', 'gt', 'hasnans', 'head', 'hist', 'iat', 'idxmax', 'idxmin', 'iloc', 'imag', 'index', 'infer_objects', 'interpolate', 'is_monotonic', 'is_monotonic_decreasing', 'is_monotonic_increasing', 'is_unique', 'isin', 'isna', 'isnull', 'item', 'items', 'itemsize', 'iteritems', 'ix', 'keys', 'kurt', 'kurtosis', 'last', 'last_valid_index', 'le', 'loc', 'lt', 'mad', 'map', 'mask', 'max', 'mean', 'median', 'memory_usage', 'min', 'mod', 'mode', 'mul', 'multiply', 'name', 'nbytes', 'ndim', 'ne', 'nlargest', 'nonzero', 'notna', 'notnull', 'nsmallest', 'nunique', 'pct_change', 'pipe', 'plot', 'pop', 'pow', 'prod', 'product', 'ptp', 'put', 'quantile', 'radd', 'rank', 'ravel', 'rdiv', 'rdivmod', 'real', 'reindex', 'reindex_like', 'rename', 'rename_axis', 'reorder_levels', 'repeat', 'replace', 'resample', 'reset_index', 'rfloordiv', 'rmod', 'rmul', 'rolling', 'round', 'rpow', 'rsub', 'rtruediv', 'sample', 'searchsorted', 'sem', 'set_axis', 'shape', 'shift', 'size', 'skew', 'slice_shift', 'sort_index', 'sort_values', 'squeeze', 'std', 'strides', 'sub', 'subtract', 'sum', 'swapaxes', 'swaplevel', 'tail', 'take', 'to_clipboard', 'to_csv', 'to_dense', 'to_dict', 'to_excel', 'to_frame', 'to_hdf', 'to_json', 'to_latex', 'to_list', 'to_msgpack', 'to_numpy', 'to_period', 'to_pickle', 'to_sparse', 'to_sql', 'to_string', 'to_timestamp', 'to_xarray', 'transform', 'transpose', 'truediv', 'truncate', 'tshift', 'tz_convert', 'tz_localize', 'unique', 'unstack', 'update', 'value_counts', 'values', 'var', 'view', 'where', 'xs']

In [30]:
#####DataFrame#####
df = pd.DataFrame({'col1':list('abcde'),'col2':range(5,10),'col3':[1.3,2.5,3.6,4.6,5.8]},
                 index=list('一二三四五'))
print(df)
#修改行列名
df.rename(index={'一':'one'},columns={'col1':'new_col1'})
#索引对齐 这里根据索引相减
df1 = pd.DataFrame({'A':[1,2,3]},index=[1,2,3])
df2 = pd.DataFrame({'A':[1,2,3]},index=[3,1,2])
print(df1-df2)
#列删除添加
df.drop(index='五',columns='col1')  #设置inplace=True后会直接在原DataFrame中改动
df['col1'] = [1,2,3,4,5]
del df['col1']
#pop直接在原dataframe上执行操作，返回删除列
df['col1']=[1,2,3,4,5]
df.pop('col1')
#assign增加新列，但不改变原dataframe
df.assgin(C=pd.Series(list('def')))

  col1  col2  col3
一    a     5   1.3
二    b     6   2.5
三    c     7   3.6
四    d     8   4.6
五    e     9   5.8
   A
1 -1
2 -1
3  2

### 三、常用基本函数

In [37]:
df = pd.read_csv('data/table.csv')
print(df.head())
#nunique显示唯一值个数，unique显示唯一值
df['Physics'].nunique()
df['Physics'].unique()
#count显示非缺失值个数，value_counts()显示每个元素有多少个
df['Physics'].count()
df['Physics'].value_counts()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

B+    9
B     8
B-    6
A     4
A+    3
A-    3
C     2
Name: Physics, dtype: int64

In [33]:
#info函数返回有哪些列、有多少非缺失值、每列的类型
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 35 entries, 0 to 34
Data columns (total 9 columns):
School     35 non-null object
Class      35 non-null object
ID         35 non-null int64
Gender     35 non-null object
Address    35 non-null object
Height     35 non-null int64
Weight     35 non-null int64
Math       35 non-null float64
Physics    35 non-null object
dtypes: float64(1), int64(3), object(5)
memory usage: 2.6+ KB

In [34]:
df.describe()
df.describe(percentiles=[.05, .25, .75, .95])
df['Physics'].describe()

               ID      Height      Weight       Math
count    35.00000   35.000000   35.000000  35.000000
mean   1803.00000  174.142857   74.657143  61.351429
std     536.87741   13.541098   12.895377  19.915164
min    1101.00000  155.000000   53.000000  31.500000
25%    1204.50000  161.000000   63.000000  47.400000
50%    2103.00000  173.000000   74.000000  61.700000
75%    2301.50000  187.500000   82.000000  77.100000
max    2405.00000  195.000000  100.000000  97.000000

In [41]:
#找到最大值的索引
df['Math'].idxmax()

5

### 四、排序

In [42]:
df.set_index('Math').head()
df.set_index('Math').sort_index().head()

  School Class    ID Gender   Address  Height  Weight  Math Physics
0    S_1   C_1  1101      M  street_1     173      63  34.0      A+
1    S_1   C_1  1102      F  street_2     192      73  32.5      B+
2    S_1   C_1  1103      M  street_2     186      82  87.2      B+
3    S_1   C_1  1104      F  street_2     167      81  80.4      B-
4    S_1   C_1  1105      F  street_4     159      64  84.8      B+

In [43]:
df.sort_values(by='Class').head()
df.sort_values(by=['Address','Height']).head()

   School Class    ID Gender   Address  Height  Weight  Math Physics
0     S_1   C_1  1101      M  street_1     173      63  34.0      A+
19    S_2   C_1  2105      M  street_4     170      81  34.2       A
18    S_2   C_1  2104      F  street_5     159      97  72.2      B+
16    S_2   C_1  2102      F  street_6     161      61  50.6      B+
15    S_2   C_1  2101      M  street_7     174      84  83.3       C

### 五、问题与练习

【问题一】 Series和DataFrame有哪些常见属性和方法？
>dir(s)  dir(df)

【问题二】 value_counts会统计缺失值吗？
>不会

【问题三】 与idxmax和nlargest功能相反的是哪两组函数？
> idxmin()  nsmallest()

【问题四】 在常用函数一节中，由于一些函数的功能比较简单，因此没有列入，现在将它们列在下面，请分别说明它们的用途并尝试使用。
sum/mean/median/mad/min/max/abs/std/var/quantile/cummax/cumsum/cumprod
>sum 求和/mean 均数/median 中位数/mad 平均绝对偏差/min 最小值/max  最大值/abs 绝绝对值/std 标准差/var 方差/quantile 分位数/cummax 累积最大值/cumsum  累积和/cumprod  累积积

【问题五】 df.mean(axis=1)是什么意思？它与df.mean()的结果一样吗？第一问提到的函数也有axis参数吗？怎么使用？
>列求均数

In [46]:
#练习1
df = pd.read_csv('data/Game_of_Thrones_Script.csv')
df.head()
df['Name'].nunique()
df['Name'].value_counts().head()

tyrion lannister      1760
jon snow              1133
daenerys targaryen    1048
cersei lannister      1005
jaime lannister        945
Name: Name, dtype: int64

In [ ]:
#练习2
kobe = pd.read_csv('data/Kobe_data.csv',index_col='shot_id')
(kobe.action_type+' & '+kobe.combined_shot_type).value_counts().head()
oppenents=kobe[['game_id']].drop_duplicates().join(kobe[['opponent']],how='inner')