#### task2 py4dat.analysis

pd.Series构建pandas格式, index添加列名。

In [10]:
import pandas as pd
sdata = {'Ohio': 35000, 'Texas': 71000, 'Oregon': 16000, 'Utah': 5000}
obj3 = pd.Series(sdata)
#按特定列名顺序重排，某个列名不存在，值输出NaN
states = ['California', 'Ohio', 'Oregon', 'Texas'] 
obj4 = pd.Series(sdata, index = states)
print('outputing obj3 and objb4')
print(obj3, '\n',obj4)
pd.isnull(obj4)  #objb4.isnull()
pd.notnull(obj4)
print('outputing obj3 + objb4')
print(obj3 + obj4) #某个index的值只要存在NaN，就得到NaN
obj4.name = 'population'
obj4.index.name = 'state'  #添加index的名字
print(obj4)
obj = pd.Series([4,7,-5,3])
print(obj)
obj.index = ['Bob', 'Steve', 'Jeff', 'Ryan']  #重命名index
print(obj)

outputing obj3 and objb4
Ohio      35000
Texas     71000
Oregon    16000
Utah       5000
dtype: int64
 California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
dtype: float64
outputing obj3 + objb4
California         NaN
Ohio           70000.0
Oregon         32000.0
Texas         142000.0
Utah               NaN
dtype: float64
state
California        NaN
Ohio          35000.0
Oregon        16000.0
Texas         71000.0
Name: population, dtype: float64
0    4
1    7
2   -5
3    3
dtype: int64
Bob      4
Steve    7
Jeff    -5
Ryan     3
dtype: int64

In [23]:
import numpy as np
data = {'state': ['Ohio', 'Ohio', 'Ohio', 'Nevada', 'Nevada', 'Nevada'],
            'year': [2000, 2001, 2002, 2001, 2002, 2003],
            'pop': [1.5, 1.7, 3.6, 2.4, 2.9, 3.2]}
frame = pd.DataFrame(data)
print(frame.head())
pd.DataFrame(data, columns = ['year','state','pop'])  #重排列

frame2 = pd.DataFrame(data, columns=['year', 'state', 'pop', 'debt'],
                      index=['one', 'two', 'three', 'four','five', 'six'])
print(frame2)

######调特定行，特定列
frame2.state
frame2.columns
frame2['state']
frame2.year
frame2.loc['three'] #调行的时候要用.loc

######后续添加列或者删除列
frame2['debt'] = 16.5
print(frame2)
frame2['debt'] = np.arange(6.)
print(frame2)
val = pd.Series([-1.2, -1.5, -1.7], index=['two', 'four', 'five'])
frame2['debt'] = val #val有部分index可以匹配，剩余的赋值NaN
print(frame2)
frame2['eastern'] = frame2.state == 'Ohio'
print(frame2)
del frame2['eastern']

pop = {'Nevada': {2001: 2.4, 2002: 2.9},
       'Ohio': {2000: 1.5, 2001: 1.7, 2002: 3.6}}
frame3 = pd.DataFrame(pop)
print(frame3['Ohio'])
frame3.T  #转置
pd.DataFrame(frame3, index = [2001,2002,2003])  #类似上面，index=2003没有对应，输出Nan
frame3.index.name = 'year'; frame3.columns.name = 'state'

#[:-1]和[:2]截取的效果一样
pdata = {'Ohio': frame3['Ohio'][:-1], 'Nevada':frame3['Nevada'][:2]}
pdata = pd.DataFrame(pdata)
print(pdata)

    state  year  pop
0    Ohio  2000  1.5
1    Ohio  2001  1.7
2    Ohio  2002  3.6
3  Nevada  2001  2.4
4  Nevada  2002  2.9
       year   state  pop debt
one    2000    Ohio  1.5  NaN
two    2001    Ohio  1.7  NaN
three  2002    Ohio  3.6  NaN
four   2001  Nevada  2.4  NaN
five   2002  Nevada  2.9  NaN
six    2003  Nevada  3.2  NaN
       year   state  pop  debt
one    2000    Ohio  1.5  16.5
two    2001    Ohio  1.7  16.5
three  2002    Ohio  3.6  16.5
four   2001  Nevada  2.4  16.5
five   2002  Nevada  2.9  16.5
six    2003  Nevada  3.2  16.5
       year   state  pop  debt
one    2000    Ohio  1.5   0.0
two    2001    Ohio  1.7   1.0
three  2002    Ohio  3.6   2.0
four   2001  Nevada  2.4   3.0
five   2002  Nevada  2.9   4.0
six    2003  Nevada  3.2   5.0
       year   state  pop  debt
one    2000    Ohio  1.5   NaN
two    2001    Ohio  1.7  -1.2
three  2002    Ohio  3.6   NaN
four   2001  Nevada  2.4  -1.5
five   2002  Nevada  2.9  -1.7
six    2003  Nevada  3.2   NaN
       year   state  pop  debt  eastern
one    2000    Ohio  1.5   NaN     True
two    2001    Ohio  1.7  -1.2     True
three  2002    Ohio  3.6   NaN     True
four   2001  Nevada  2.4  -1.5    False
five   2002  Nevada  2.9  -1.7    False
six    2003  Nevada  3.2   NaN    False
2000    1.5
2001    1.7
2002    3.6
Name: Ohio, dtype: float64
      Ohio  Nevada
2000   1.5     NaN
2001   1.7     2.4

In [ ]:
###### index object
#index objects不可变
obj = pd.Series(range(3), index=['a', 'b', 'c'])
index = obj.index
index[:1]
#index[1] = 'd'  #错误

##### 2.Essential Functionality

In [33]:
#reindexing
obj = pd.Series([4.5, 7.2, -5.3, 3.6], index=['d', 'b', 'a', 'c'])
print(obj)
obj2 = obj.reindex(['a', 'b', 'c', 'd', 'e'])
print(obj2)
#对于有些比如ordered time series data,可以做插入和填充
obj3 = pd.Series(['blue', 'purple', 'yellow'], index=[0, 2, 4])
print(obj3)
obj3.reindex(range(6), method='ffill')

frame = pd.DataFrame(np.arange(9).reshape((3, 3)),
                     index=['a', 'c', 'd'],
                     columns=['Ohio', 'Texas', 'California'])
print(frame)
#reorder columns, index
states = ['Texas', 'Utah', 'California']
print(frame.reindex(columns=states))
print(pd.DataFrame(frame, columns = states))
print(frame.loc[['a', 'b', 'c', 'd'], states])
print(frame.reindex(['a', 'b', 'c', 'd']))

d    4.5
b    7.2
a   -5.3
c    3.6
dtype: float64
a   -5.3
b    7.2
c    3.6
d    4.5
e    NaN
dtype: float64
0      blue
2    purple
4    yellow
dtype: object
   Ohio  Texas  California
a     0      1           2
c     3      4           5
d     6      7           8
   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8
   Texas  Utah  California
a      1   NaN           2
c      4   NaN           5
d      7   NaN           8
   Texas  Utah  California
a    1.0   NaN         2.0
b    NaN   NaN         NaN
c    4.0   NaN         5.0
d    7.0   NaN         8.0
   Ohio  Texas  California
a   0.0    1.0         2.0
b   NaN    NaN         NaN
c   3.0    4.0         5.0
d   6.0    7.0         8.0

/Users/theomarker/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:19: FutureWarning:
Passing list-likes to .loc or [] with any missing label will raise
KeyError in the future, you can use .reindex() as an alternative.

See the documentation here:
https://pandas.pydata.org/pandas-docs/stable/indexing.html#deprecate-loc-reindex-listlike

In [35]:
#Dropping Entries from an Axis
obj = pd.Series(np.arange(5.), index=['a', 'b', 'c', 'd', 'e'])
new_obj = obj.drop('c')  #drop正常是axis = 0，对行即index进行
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                     index=['Ohio', 'Colorado', 'Utah', 'New York'],
                     columns=['one', 'two', 'three', 'four'])
print(data.drop('two',axis=1))
print(data.drop(['two','four'], axis = 'columns'))
#drop(, inplace = True)时对原object进行操作
print(obj)
obj.drop('c',inplace = True)
print(obj)

          one  three  four
Ohio        0      2     3
Colorado    4      6     7
Utah        8     10    11
New York   12     14    15
          one  three
Ohio        0      2
Colorado    4      6
Utah        8     10
New York   12     14
a    0.0
b    1.0
c    2.0
d    3.0
e    4.0
dtype: float64
a    0.0
b    1.0
d    3.0
e    4.0
dtype: float64

In [43]:
#Indexing, Selection, and Filtering
data = pd.DataFrame(np.arange(16).reshape((4, 4)),
                     index=['Ohio', 'Colorado', 'Utah', 'New York'],
                     columns=['one', 'two', 'three', 'four'])
print(data)
print(data[:2])
print(data[data['three'] > 5])
#调用loc和iloc
data.loc['Colorado',['two','three']]
data.loc[:'Utah', 'two'] #这里的输出包括到'Utah'行
data.iloc[2,[3,0,1]]  #iloc和loc类似，但是iloc可以调用数字
data.iloc[2]
data.iloc[:, :3][data.three > 5]

          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15
          one  two  three  four
Ohio        0    1      2     3
Colorado    4    5      6     7
          one  two  three  four
Colorado    4    5      6     7
Utah        8    9     10    11
New York   12   13     14    15

Ohio        1
Colorado    5
Utah        9
Name: two, dtype: int64

In [44]:
#integer indexes
ser = pd.Series(np.arange(3.))
ser
#ser[-1]时，defalut的index为0,1,2，会报错。需要重新定义index
ser2 = pd.Series(np.arange(3.), index=['a', 'b', 'c'])
#因此有数字index时候，建议用loc或者iloc
print(ser.loc[:1])  #loc时候是label类型，包含了'1'
print(ser.iloc[:1])

0    0.0
1    1.0
dtype: float64
0    0.0
dtype: float64

In [53]:
#Arithmetic and Data Alignment
df1 = pd.DataFrame(np.arange(12.).reshape((3, 4)),
                    columns=list('abcd'))
df2 = pd.DataFrame(np.arange(20.).reshape((4, 5)),
                    columns=list('abcde'))
print(df1,'\n\n',df2)
print(df1 + df2)
#正常dataframe相加Na出现都会是NA。
#add函数相加时候，如果没有会添加一个初始值
df1.add(df2, fill_value = 0)


frame = pd.DataFrame(np.arange(12.).reshape((4, 3)),
                      columns=list('bde'),
                      index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame['b'])
frame.sub(frame['d'], axis = 'index')  #sub是减。axis='index'即axis = 0可以match行index，并做减法

     a    b     c     d
0  0.0  1.0   2.0   3.0
1  4.0  5.0   6.0   7.0
2  8.0  9.0  10.0  11.0

       a     b     c     d     e
0   0.0   1.0   2.0   3.0   4.0
1   5.0   6.0   7.0   8.0   9.0
2  10.0  11.0  12.0  13.0  14.0
3  15.0  16.0  17.0  18.0  19.0
      a     b     c     d   e
0   0.0   2.0   4.0   6.0 NaN
1   9.0  11.0  13.0  15.0 NaN
2  18.0  20.0  22.0  24.0 NaN
3   NaN   NaN   NaN   NaN NaN
Utah      0.0
Ohio      3.0
Texas     6.0
Oregon    9.0
Name: b, dtype: float64

          b    d    e
Utah   -1.0  0.0  1.0
Ohio   -1.0  0.0  1.0
Texas  -1.0  0.0  1.0
Oregon -1.0  0.0  1.0

In [58]:
#function  application and mapping
frame = pd.DataFrame(np.random.randn(4, 3), columns=list('bde'),
                      index=['Utah', 'Ohio', 'Texas', 'Oregon'])
print(frame)
f = lambda x: x.max() - x.min()
#调用f函数，对列求
frame.apply(f)
frame.apply(f, axis='columns') #对行求

def f(x):
    return pd.Series([x.max(),x.min()], index = ['max','min'])
frame.apply(f)

#如果针对单一值操作，可以用applymap. 对series时使用mao就可以，正是因为Series有map函数因此才用applymap在dataframe上
format = lambda x: '%.2f' %x
frame.applymap(format)
frame['e'].map(format)

               b         d         e
Utah   -0.024249  0.369625  0.648752
Ohio    0.998885 -1.508857 -2.515997
Texas   0.044635 -0.439523  0.545888
Oregon  1.039711 -0.946830 -0.574925

Utah       0.65
Ohio      -2.52
Texas      0.55
Oregon    -0.57
Name: e, dtype: object

In [65]:
#sorting and ranking
frame = pd.DataFrame(np.arange(8).reshape((2, 4)),
                      index=['three', 'one'],
                      columns=['d', 'a', 'b', 'c'])
frame.sort_index()
frame.sort_index(axis=1, ascending = False) #对列

#对值排序，如果存在na，na会排在末尾
obj = pd.Series([4, np.nan, 7, np.nan, -3, 2])
obj.sort_values()

frame = pd.DataFrame({'b': [4, 7, -3, 2], 'a': [0, 1, 0, 1]})
frame.sort_values(by=['a', 'b'])

#rank排序
obj = pd.Series([7, -5, 7, 4, 2, 0, 4])
obj.rank()  #default条件下对相等的值会有平均排序
obj.rank(method='first')  #以第一次出现的为先
# Assign tie values the maximum rank in the group
obj.rank(ascending=False, method='max')


frame = pd.DataFrame({'b': [4.3, 7, -3, 2], 'a': [0, 1, 0, 1],
                       'c': [-2, 5, 8, -2.5]})
frame.rank(axis = 'columns')  #axis为columns即是以columns为index,相当于若干个样本ID

4   -3.0
5    2.0
0    4.0
2    7.0
1    NaN
3    NaN
dtype: float64

In [66]:
#Axis Indexes with Duplicate Labels
obj = pd.Series(range(5), index=['a', 'a', 'b', 'b', 'c'])
obj.index.is_unique

False

#### 3. Summarizing and computing Descriptive Statistics

In [13]:
import pandas as pd
import numpy as np
df = pd.DataFrame([[1.4, np.nan], [7.1, -4.5],
                   [np.nan, np.nan], [0.75, -1.3]],
                  index=['a', 'b', 'c', 'd'],
                  columns=['one', 'two'])
print(df)
df.sum()  #对列求和
df.sum(axis='columns')  #对行求和
df.mean(axis = 'columns', skipna=False)
df.idxmax()  #返回最大值的行名列名。 ？？为什么两个值
df.cumsum()   #对列求累积和
df.describe()


obj = pd.Series(['a', 'a', 'b', 'c'] * 4)
obj.describe()

    one  two
a  1.40  NaN
b  7.10 -4.5
c   NaN  NaN
d  0.75 -1.3

count     16
unique     3
top        a
freq       8
dtype: object

In [ ]:
###correlation and Covariance
returns['MSFT'].corr(returns['IBM']) #corr计算无NA的有index排序的2个series
returns['MSFT'].cov(returns['IBM']) #cov计算方差
#corrwith可以在dataframe计算特定行或者列之间的相关性
returns.corrwith(returns.IBM)

In [28]:
#Unique Values, Value Counts, and Membership

#.unique()提取无重复
obj = pd.Series(['c', 'a', 'd', 'a', 'a', 'b', 'b', 'c', 'c'])
uniques = obj.unique()
uniques
obj.value_counts()
pd.value_counts(obj.values,sort=False)
mask = obj.isin(['b','c'])
obj[mask]

#Index.get_indexer把一个series的value标记后，在另一个series里的值对应标记第一个series里的标记
to_match = pd.Series(['c', 'a', 'b', 'b', 'c', 'a'])
unique_vals = pd.Series(['c', 'b', 'a'])
pd.Index(unique_vals).get_indexer(to_match)

data = pd.DataFrame({'Qu1': [1, 3, 4, 3, 4],
                      'Qu2': [2, 3, 1, 2, 3],
                      'Qu3': [1, 5, 2, 4, 4]})
result = data.apply(pd.value_counts).fillna(0)
result

   Qu1  Qu2  Qu3
1  1.0  1.0  1.0
2  0.0  2.0  1.0
3  2.0  2.0  0.0
4  2.0  0.0  2.0
5  0.0  0.0  1.0