#### 1 Date and Time Data Types and Tools

In [24]:
from datetime import datetime
now = datetime.now()
print(now)
print(now.year, now.month, now.day)
#已经import datetime，所以这里会让datetime.datetime往其空间下再找datetime
#datetime.datetime(2017,9,25,14,5,52,72973),正确做法如下：
print(datetime(2017,9,25,14,5,52,72973))
#时间相减可以得到时间差
delta = datetime(2011, 1, 7) - datetime(2008, 6, 24, 8, 15)
print('delta is:', delta)
print('delta day is', delta.days)
print('delta seconds is', delta.seconds)

from datetime import timedelta
start = datetime(2011,1,7)
print(start + timedelta(12))
print(start - 2* timedelta(12))

2019-08-26 17:55:37.415404
2019 8 26
2017-09-25 14:05:52.072973
delta is: 926 days, 15:45:00
delta day is 926
delta seconds is 56700
2011-01-19 00:00:00
2010-12-14 00:00:00

In [45]:
print('################Converting Between String and Datetime###################')
#convert time to string
stamp = datetime(2011,1,3)
print(str(stamp))
stamp.strftime('%Y-%m-%d')
#convert string to time
value = '2011-01-03'
datetime.strptime(value, '%Y-%m-%d')
datetime(2011,1,3,0,0)

datestrs = ['7/6/2011', '8/6/2011']
[datetime.strptime(x, '%d/%m/%Y')   for x in datestrs]

#datetime.strptime用起来麻烦，因为要多次写时间格式。parser.parse更方便
from dateutil.parser import parse
print(parse('2011-01-03'))
print(parse('Jan 31, 1997 10:45 PM'))
print(parse('6/12/2011', dayfirst=True))
#pandas的to_datetime可以解析多种不同时间表达方式
import pandas as pd
datestrs = ['2011-07-06 12:00:00', '2011-08-06 00:00:00']
pd.to_datetime(datestrs)
idx = pd.to_datetime(datestrs + [None])
idx
idx[2]
pd.isnull(idx)

################Converting Between String and Datetime###################
2011-01-03 00:00:00
2011-01-03 00:00:00
1997-01-31 22:45:00
2011-12-06 00:00:00

array([False, False,  True])

#### 2 Time Series Basics

In [50]:
from datetime import datetime
import numpy as np
dates = [datetime(2011, 1, 2), datetime(2011, 1, 5),
          datetime(2011, 1, 7), datetime(2011, 1, 8),
          datetime(2011, 1, 10), datetime(2011, 1, 12)]
ts = pd.Series(np.random.randn(6), index=dates)
print(ts)
print(ts + ts[::2])

2011-01-02   -0.999702
2011-01-05   -1.508282
2011-01-07   -0.778309
2011-01-08   -0.199945
2011-01-10   -0.396074
2011-01-12   -0.248407
dtype: float64
2011-01-02   -1.999405
2011-01-05         NaN
2011-01-07   -1.556619
2011-01-08         NaN
2011-01-10   -0.792147
2011-01-12         NaN
dtype: float64

In [68]:
print('#####Indexing, Selection, Subsetting#######')
stamp = ts.index[2]
#输出特定时间的值，多种方法 string; datetime方法，timestamp，truncate
ts[stamp]
ts['1/10/2011']
ts['20110110']

#pd.date_range里的periods=int可以设定时间长度
longer_ts = pd.Series(np.random.randn(1000), index=pd.date_range('1/1/2000',periods=1000))
print(longer_ts, '\n')
#输入年份或者年份+月份可以选出特定的行
print(longer_ts['2001'])
print(longer_ts['2001-05'], '\n')
#用datetime也可以作为index输出特定的行，这里输出1月7号开始和之后的
print(longer_ts[datetime(2001,1,7):])
#用timestamps
print(ts['1/6/2011':'1/11/2011'], '\n')
#truncate
print(ts.truncate(after='1/9/2011'), '\n')
#上述方法对dataframe一样有效
dates = pd.date_range('1/1/2000', periods=100, freq='W-WED')
long_df = pd.DataFrame(np.random.randn(100,4), index=dates, columns=['Colorado', 'Texas','New York', 'Ohio'])
print(long_df.loc['5-2001'])

#####Indexing, Selection, Subsetting#######
2000-01-01   -0.395468
2000-01-02    0.991696
2000-01-03    0.424969
2000-01-04   -0.386159
2000-01-05    0.679208
                ...
2002-09-22   -0.668190
2002-09-23    0.736374
2002-09-24   -0.559059
2002-09-25    0.441365
2002-09-26   -0.642772
Freq: D, Length: 1000, dtype: float64

2001-01-01    0.040506
2001-01-02   -1.237664
2001-01-03    0.873504
2001-01-04    2.140884
2001-01-05    0.016363
                ...
2001-12-27   -0.675332
2001-12-28    0.939414
2001-12-29   -0.766606
2001-12-30    0.645424
2001-12-31   -1.446700
Freq: D, Length: 365, dtype: float64
2001-05-01   -1.308444
2001-05-02    0.046642
2001-05-03    0.256341
2001-05-04    0.774844
2001-05-05    0.631058
2001-05-06    0.979397
2001-05-07   -0.279371
2001-05-08   -0.711537
2001-05-09   -0.347856
2001-05-10    0.513051
2001-05-11    1.263793
2001-05-12    1.086430
2001-05-13   -0.541134
2001-05-14    0.422094
2001-05-15    1.224292
2001-05-16   -0.027212
2001-05-17    0.574963
2001-05-18    0.142261
2001-05-19    0.808996
2001-05-20    1.330510
2001-05-21   -0.009394
2001-05-22    0.324633
2001-05-23   -0.583495
2001-05-24   -0.669416
2001-05-25    0.477603
2001-05-26    0.221493
2001-05-27   -1.343515
2001-05-28    1.221579
2001-05-29    0.811472
2001-05-30    0.975716
2001-05-31    1.078452
Freq: D, dtype: float64

2001-01-07    1.467241
2001-01-08    0.482617
2001-01-09   -0.669084
2001-01-10   -0.168762
2001-01-11    1.870660
                ...
2002-09-22   -0.668190
2002-09-23    0.736374
2002-09-24   -0.559059
2002-09-25    0.441365
2002-09-26   -0.642772
Freq: D, Length: 628, dtype: float64
2011-01-07   -0.778309
2011-01-08   -0.199945
2011-01-10   -0.396074
dtype: float64

2011-01-02   -0.999702
2011-01-05   -1.508282
2011-01-07   -0.778309
2011-01-08   -0.199945
dtype: float64

            Colorado     Texas  New York      Ohio
2001-05-02  1.217083  0.557111 -0.733536 -0.066000
2001-05-09  1.216755 -0.669771 -2.117147 -0.176424
2001-05-16 -0.115753  0.173272 -0.012709  0.683703
2001-05-23 -1.401075  1.277957  1.455520  0.267498
2001-05-30 -1.778347  0.417664 -0.487539 -0.058814

In [74]:
print('#####Time Series with Duplicate Indices#######')
dates = pd.DatetimeIndex(['1/1/2000', '1/2/2000', '1/2/2000',
                           '1/2/2000', '1/3/2000'])
dup_ts = pd.Series(np.arange(5), index=dates)
print(dup_ts, '\n')
print(dup_ts.index.is_unique)
#要对有重复timestamps的数据去重
grouped = dup_ts.groupby(level=0)
print(grouped.mean())
print(grouped.count())

#####Time Series with Duplicate Indices#######
2000-01-01    0
2000-01-02    1
2000-01-02    2
2000-01-02    3
2000-01-03    4
dtype: int64

False
2000-01-01    0
2000-01-02    2
2000-01-03    4
dtype: int64
2000-01-01    1
2000-01-02    3
2000-01-03    1
dtype: int64

#### 3 Date Ranges, Frequencies, and Shifting

In [80]:
print(ts)
resampler = ts.resample('D')
print(resampler)


print('#####Generating Date Ranges#######')
index = pd.date_range('2012-04-01', '2012-06-01')
print(pd.date_range(start='2014-04-01', periods=20), '\n')
print(pd.date_range(end='2012-06-01', periods=20), '\n')
#输出每月business day的最后一天,BM 表示business end of month
print(pd.date_range('2000-01-01','2000-12-01', freq='BM'))
#有的时候输出的时间不想要到小时，归一化到天
print(pd.date_range('2012-05-02 12:56:31', periods=5, normalize=True))

2011-01-02   -0.999702
2011-01-05   -1.508282
2011-01-07   -0.778309
2011-01-08   -0.199945
2011-01-10   -0.396074
2011-01-12   -0.248407
dtype: float64
DatetimeIndexResampler [freq=<Day>, axis=0, closed=left, label=left, convention=start, base=0]
#####Generating Date Ranges#######
DatetimeIndex(['2014-04-01', '2014-04-02', '2014-04-03', '2014-04-04',
               '2014-04-05', '2014-04-06', '2014-04-07', '2014-04-08',
               '2014-04-09', '2014-04-10', '2014-04-11', '2014-04-12',
               '2014-04-13', '2014-04-14', '2014-04-15', '2014-04-16',
               '2014-04-17', '2014-04-18', '2014-04-19', '2014-04-20'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2012-05-13', '2012-05-14', '2012-05-15', '2012-05-16',
               '2012-05-17', '2012-05-18', '2012-05-19', '2012-05-20',
               '2012-05-21', '2012-05-22', '2012-05-23', '2012-05-24',
               '2012-05-25', '2012-05-26', '2012-05-27', '2012-05-28',
               '2012-05-29', '2012-05-30', '2012-05-31', '2012-06-01'],
              dtype='datetime64[ns]', freq='D')

DatetimeIndex(['2000-01-31', '2000-02-29', '2000-03-31', '2000-04-28',
               '2000-05-31', '2000-06-30', '2000-07-31', '2000-08-31',
               '2000-09-29', '2000-10-31', '2000-11-30'],
              dtype='datetime64[ns]', freq='BM')
DatetimeIndex(['2012-05-02', '2012-05-03', '2012-05-04', '2012-05-05',
               '2012-05-06'],
              dtype='datetime64[ns]', freq='D')

In [83]:
print('#####Frequencies and Date Offsets#######')
from pandas.tseries.offsets import Hour, Minute
print(pd.date_range('2000-01-01', '2000-01-03 23:59', freq='4h'), '\n')
print(pd.date_range('2000-01-01', periods=10, freq='1h30min'), '\n')
print('#####week of month dates#######')
#week of month -> WOM，可以获得每个月特定的时间
rng = pd.date_range('2012-01-01','2012-09-01', freq='WOM-3FRI')
print(rng, '\n')

#####Frequencies and Date Offsets#######
DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 04:00:00',
               '2000-01-01 08:00:00', '2000-01-01 12:00:00',
               '2000-01-01 16:00:00', '2000-01-01 20:00:00',
               '2000-01-02 00:00:00', '2000-01-02 04:00:00',
               '2000-01-02 08:00:00', '2000-01-02 12:00:00',
               '2000-01-02 16:00:00', '2000-01-02 20:00:00',
               '2000-01-03 00:00:00', '2000-01-03 04:00:00',
               '2000-01-03 08:00:00', '2000-01-03 12:00:00',
               '2000-01-03 16:00:00', '2000-01-03 20:00:00'],
              dtype='datetime64[ns]', freq='4H')

DatetimeIndex(['2000-01-01 00:00:00', '2000-01-01 01:30:00',
               '2000-01-01 03:00:00', '2000-01-01 04:30:00',
               '2000-01-01 06:00:00', '2000-01-01 07:30:00',
               '2000-01-01 09:00:00', '2000-01-01 10:30:00',
               '2000-01-01 12:00:00', '2000-01-01 13:30:00'],
              dtype='datetime64[ns]', freq='90T')

#####week of month dates#######
DatetimeIndex(['2012-01-20', '2012-02-17', '2012-03-16', '2012-04-20',
               '2012-05-18', '2012-06-15', '2012-07-20', '2012-08-17'],
              dtype='datetime64[ns]', freq='WOM-3FRI')

In [92]:
print('#####Shifting (Leading and Lagging) Data#######')
#shift表示向前或者向后移动时间
ts = pd.Series(np.random.randn(4),
                index=pd.date_range('1/1/2000', periods=4, freq='M'))
print(ts.shift(2), '\n')
print(ts.shift(-2),'\n')
print(ts, '\n')
print(ts.shift(1), '\n')
print(ts / ts.shift(1) -1)
#shift设定freq，跳过2个月，没有NA
print(ts.shift(2, freq='M'), '\n')
#这里90T表示90分钟
print(ts.shift(1, freq='90T'))

#####Shifting (Leading and Lagging) Data#######
2000-01-31         NaN
2000-02-29         NaN
2000-03-31   -0.514911
2000-04-30   -0.041589
Freq: M, dtype: float64

2000-01-31    1.161863
2000-02-29    0.913793
2000-03-31         NaN
2000-04-30         NaN
Freq: M, dtype: float64

2000-01-31   -0.514911
2000-02-29   -0.041589
2000-03-31    1.161863
2000-04-30    0.913793
Freq: M, dtype: float64

2000-01-31         NaN
2000-02-29   -0.514911
2000-03-31   -0.041589
2000-04-30    1.161863
Freq: M, dtype: float64

2000-01-31          NaN
2000-02-29    -0.919231
2000-03-31   -28.936970
2000-04-30    -0.213511
Freq: M, dtype: float64
2000-03-31   -0.514911
2000-04-30   -0.041589
2000-05-31    1.161863
2000-06-30    0.913793
Freq: M, dtype: float64

2000-01-31 01:30:00   -0.514911
2000-02-29 01:30:00   -0.041589
2000-03-31 01:30:00    1.161863
2000-04-30 01:30:00    0.913793
Freq: M, dtype: float64

In [95]:
print('#####Shifting dates with offsets#######')
from pandas.tseries.offsets import Day, MonthEnd
now = datetime(2011, 11, 17)
now + 3 * Day()
now + MonthEnd()
now + MonthEnd(2)

#####Shifting dates with offsets#######

Timestamp('2011-12-31 00:00:00')

#### 4 Time Zone Handling

In [97]:
print('##########Time Zone Localization and Conversion###############')
rng = pd.date_range('3/9/2012 9:30', periods=6, freq='D')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
print(ts.index.tz)
pd.date_range('3/9/2012 9:30', periods=10, freq='D', tz='UTC')
ts_utc = ts.tz_localize('UTC')
ts_utc.index
ts_utc.tz_convert('America/New_York')
ts_eastern = ts.tz_localize('America/New_York')
ts_eastern.tz_convert('Europe/Berlin')

##########Time Zone Localization and Conversion###############
None

2012-03-09 15:30:00+01:00   -1.505798
2012-03-10 15:30:00+01:00   -0.875741
2012-03-11 14:30:00+01:00    1.854186
2012-03-12 14:30:00+01:00   -0.224037
2012-03-13 14:30:00+01:00    1.915419
2012-03-14 14:30:00+01:00    0.433165
Freq: D, dtype: float64

In [ ]:
print('##########Operations with Time Zone−Aware Timestamp Objects###############')
stamp = pd.Timestamp('2011-03-12 04:00')
stamp_utc = stamp.tz_localize('utc')
stamp_utc.tz_convert('America/New_York')
stamp_moscow = pd.Timestamp('2011-03-12 04:00', tz='Europe/Moscow')
stamp_moscow
stamp_utc.value
stamp_utc.tz_convert('America/New_York').value

from pandas.tseries.offsets import Hour
stamp = pd.Timestamp('2012-03-12 01:30', tz='US/Eastern')
stamp + Hour()
stamp = pd.Timestamp('2012-11-04 00:30', tz='US/Eastern')
stamp
stamp + 2 * Hour()

In [98]:
print('##########Operations Between Different Time Zones###############')
rng = pd.date_range('3/7/2012 9:30', periods=10, freq='B')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts1 = ts[:7].tz_localize('Europe/London')
ts2 = ts1[2:].tz_convert('Europe/Moscow')
result = ts1 + ts2
result.index

##########Operations Between Different Time Zones###############

DatetimeIndex(['2012-03-07 09:30:00+00:00', '2012-03-08 09:30:00+00:00',
               '2012-03-09 09:30:00+00:00', '2012-03-12 09:30:00+00:00',
               '2012-03-13 09:30:00+00:00', '2012-03-14 09:30:00+00:00',
               '2012-03-15 09:30:00+00:00'],
              dtype='datetime64[ns, UTC]', freq='B')

#### 5 Periods and Period Arithmetic

In [99]:
print('##########Period Frequency Conversion###############')
p = pd.Period('2007', freq='A-DEC')
p.asfreq('M', how='start')
p.asfreq('M', how='end')
p = pd.Period('2007', freq='A-JUN')
p
p.asfreq('M', 'start')
p.asfreq('M', 'end')
p = pd.Period('Aug-2007', 'M')
p.asfreq('A-JUN')
rng = pd.period_range('2006', '2009', freq='A-DEC')
ts = pd.Series(np.random.randn(len(rng)), index=rng)
ts.asfreq('M', how='start')
ts.asfreq('B', how='end')

##########Period Frequency Conversion###############

2006-12-29    0.510984
2007-12-31    0.785971
2008-12-31    0.713764
2009-12-31    1.134825
Freq: B, dtype: float64

In [100]:
print('##########Quarterly Period Frequencies###############')
p = pd.Period('2012Q4', freq='Q-JAN')
p
p.asfreq('D', 'start')
p.asfreq('D', 'end')
p4pm = (p.asfreq('B', 'e') - 1).asfreq('T', 's') + 16 * 60
p4pm
p4pm.to_timestamp()

##########Quarterly Period Frequencies###############

Timestamp('2012-01-30 16:00:00')

In [102]:
print('##########Converting Timestamps to Periods (and Back)###############')
rng = pd.date_range('2000-01-01', periods=3, freq='M')
ts = pd.Series(np.random.randn(3), index=rng)
pts = ts.to_period()
pts

##########Converting Timestamps to Periods (and Back)###############

2000-01   -0.997017
2000-02   -0.216419
2000-03    1.515574
Freq: M, dtype: float64

In [103]:
print('##########Creating a PeriodIndex from Arrays###############')
data = pd.read_csv('../examples/macrodata.csv')
data.head(5)
data.year
data.quarter

##########Creating a PeriodIndex from Arrays###############

0      1959.0
1      1959.0
2      1959.0
3      1959.0
4      1960.0
        ...
198    2008.0
199    2008.0
200    2009.0
201    2009.0
202    2009.0
Name: year, Length: 203, dtype: float64